/*  CSS Demo Stylesheet  */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
}
    *,
    *:before,
    *:after {
    box-sizing: inherit;
}

/*  ---------------Utility Classes-----------------  */

.container{
    width:80vw;
    max-width: 960px;
    margin: 40px auto;
}

/*  ---------------Responsive Images-----------------  */

img{
    max-width: 100%;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:0;
}

header.primary{
    background-color:#8b3b87;
    color:#ffffff;
    text-align: center;
    text-shadow: 1px 1px #000;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /*Single value short hand*/
    padding: 40px;  
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;  
    /* Two Value Top/Bottom / L/R */
    padding: 20px 40px; 
}

header.primary h1{
    font-size:2.4rem;
    /* top | left and right | bottom */
    margin: 20px 0 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1.3rem;
    margin: 0;
    letter-spacing:.2px;
}

nav.primary ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    max-width: 960px;
    margin: 20px auto;
}
nav.primary ul li{
    list-style-type:none;
}
nav.primary ul li a{
    color:white;
    font-size: .9rem;
    text-decoration:none;
    border: 1px solid #c0c0c0;
    padding: 5px 10px;
    background-color:rgba(0, 0, 0, .4);
    border-radius: 20px 0;
    transition: .25s;
}
nav.primary ul li a:hover{
    background-color:rgba(0, 0, 0, 1);
}

#content h2{
    color: #8b3b87;
    border-bottom:1px dotted darkgray;
}

#content h3{
    border-left:5px solid #8b3b87;
    padding: 5px 0 5px 10px;
}

#blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#blog article.post{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    padding: 10px;
    font-size: .8rem;
    border-radius: 4px;
    transition: .25s;
}

#blog article.post:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, .6);
}

figure{
    margin:0;
}

figcaption, time{
    text-transform: uppercase;
    text-align: center;
}

#blog article.post a{
    color: #8b3b87;
}

aside[role="complementary"]{
    background-color:#8b3b87;
    color: #ffffff;
    padding:40px 0;
}

aside .container{
    display: flex;
    flex-direction: row;
    gap:40px;
}

aside .container a:last-child{
    color: #ffffff;
    display: block;
    text-align: right;
}

aside article footer{
    display:none;
}

@media screen and (max-width:550px){
    nav.primary ul{
        flex-direction: column;
        gap:10px;
        max-width: 200px;
        margin: 20px auto;
    }

    nav.primary ul li a{
        display:block;
    }
}